.profileItem {
    display: flex;
    text-align: start;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 8px;
  }
  button {
    background-color: rgb(128, 128, 230);
    border-width: 0px;
    width: 60px;
    border-radius: 3px;
  }
  